#container{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 0 15px;
    
    padding: 25px;
}
h2{
    text-align: center;
}
.button{
    width: 20%;
    margin: auto;
}
button{
    width: 50%;
}
