

<div class="container" id="container">
   <div class="row row-cols-2">

     <div *ngFor="let data of inquiries" class="col">
      <table class="table">
         <thead class="thead-dark">
         <tr>
            <th scope="col">Field</th>
            <th scope="col">Value</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">Name</th>
            <td>{{data['name']}}</td>
         </tr>
         <tr>
            <th  scope="row">Email</th>
            <td>{{data['email']}}</td>
         </tr>
         <tr>
            <th scope="row">Contact Number</th>
            <td>{{data['contactNumber']}}</td>
         </tr>
         <tr>
            <th scope="row">Message</th>
            <td>{{data['message']}}</td>
         </tr>
         <tr>
            <th scope="row">Status</th>
            <td *ngIf="data['status']" style="color:green">Acknowledged</td>
            <td *ngIf="!data['status']" style="color: red;" >Pending</td>
            
         </tr>
      </tbody>
      </table>
      <div class="button">
         <button type="submit"class="btn btn-success"   (click)="acknowledge(data['email'],data['_id'])" id="ack">Acknowledge</button>
   </div>
   <hr>
      </div>
   </div>
   <button type="submit" (click)="submit()" id="button"  class="btn btn-info">Log Out</button>
 </div>